<h1>Your list of bookmarks</h1>
<ul>
 <% @new_list.each do |bookmark| %>
   <li><a href= <%= bookmark.url %>><%= bookmark.title %></a></li>
   <form action="/delete_bookmark" method="POST">
     <input id="hidden" type="hidden" name="_method" value="delete">
     <button type="submit" name="delete_url" id="Delete_<%= bookmark.title %>" value="<%= bookmark.url %>">Delete</button>
   </form>
   <form action="/bookmarks/<%= bookmark.id %>/update" method="GET">
     <button type="submit" name="update_id" id="Update_<%= bookmark.title %>" value="<%= bookmark.id %>">Update</button>
   </form>
   <form action="/store_bookmark_id" method="POST">
     <button type="submit" name="bookmark_id" id="Comment_<%= bookmark.title %>" value="<%= bookmark.id %>">Comment</button>
   </form>
 <% end %>
</ul>
<h1>Add a bookmark</h1>
<form action="/create_bookmark" method="POST">
  <input type="text" name="title" placeholder="Title" />
  <input type="text" name="url" placeholder="URL" />
  <input type="submit" value="Submit" />
</form>
<h1>Find a bookmark</h1>
<form action="/search_results" method="POST">
  <input type="text" name="search" placeholder="Enter a title or URL" />
  <input type="submit" value="Search" />
</form>
