<h1>Search Results:</h1>
<ul>
 <% @results.each do |bookmark| %>
   <li><a href= <%= bookmark.url %>><%= bookmark.title %></a></li>
   <form action="/delete_bookmark" method="POST">
     <input id="hidden" type="hidden" name="_method" value="delete">
     <button type="submit" name="delete_url" id="Delete_<%= bookmark.title %>" value="<%= bookmark.url %>">Delete</button>
   </form>
   <form action="/bookmarks/<%= bookmark.id %>/update" method="GET">
     <button type="submit" name="update_id" id="Update_<%= bookmark.title %>" value="<%= bookmark.id %>">Update</button>
   </form>
 <% end %>
</ul>
<h1>Return to bookmarks</h1>
<form action="/bookmarks" method="GET">
  <input type="submit" value="Home" />
</form>
